[Unit]
Description=GoldenWaste webserver service

[Service]
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/GoldenWaste/target/goldenWastedd-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target